@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!DOCTYPE html>
 
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <input type="text" name="searchKey" />           
            <input type="submit" name="btnSearch" value="Search" />
        }
    </div>
</body>
</html>

@*<div id="ts-example">
    <br />
    <input type="text" name="SearchBox">
    @*<button type="button" class="btn btn-default active" onclick="location.href='@Url.Action("Index", "Search")'">Financial</button>*@
   @* <button type="button" class="btn btn-primary btn-md" onclick="TSButton()">
        Search
    </button>*@
    @*@Html.ActionLink("Search", "Index", "Home", new { key = "link" }, new { @class = "btn btn-info", @Metric = "nbrMetric" })
   
</div>

<script>
 $('#link').click(function () {
  var searchKey = $('#SearchBox').val(); 
  window.location = '@Url.Action("Action", "Controller")?key=' + searchKey;
})
</script>*@
